<div style="padding:20px; border-radius: 6px; border:1px solid #545677;margin-top:20px;">
    <form>
        <div class="mb-3">
            <span class="badge tag-bg" *ngFor="let tag of question.skills" style="margin-left:2px;margin-right:2px;">{{tag.name}}</span>
            <h2>{{question.title}}</h2>
        </div>
        <div class="mb-3">
            <p>{{question.details}}</p>
            <p style="font-size: 12px;">Added By: {{question.user.firstName}} {{question.user.lastName}}</p>
        </div>
        <h4>Submit your answer</h4>
        <form #f="ngForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="details" class="form-label">Type out your answer.</label>
                <textarea class="form-control" id="details" placeholder="Answer {{question.user.firstName}} {{question.user.lastName}}'s question" [(ngModel)]="details" name="details" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit!</button>
        </form>
    </form>
</div>